<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="f-title text-center">
                Réinitialiser le mot de passe
            </h2>
        </div>

        <div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="space-y-4">
                <div>
                    <label class="f-label">Nouveau mot de passe</label>
                    <input type="password" autocomplete="new-password" required
                        class="f-input" formControlName="password" />
                    <p class="f-text-error"
                        *ngIf="isInvalid('password')">
                        {{ getMessageError('password') }}
                    </p>
                </div>

                <div>
                    <label class="f-label">Confirmation du mot de passe</label>
                    <input type="password" autocomplete="new-password" required
                        class="f-input" formControlName="confirmPassword" />
                    <p class="f-text-error"
                        *ngIf="isInvalid('confirmPassword')">
                        {{ getMessageError('confirmPassword') }}
                    </p>
                </div>

                <div class="space-y-2">
                    <button type="submit" class="btn-primary w-full">
                        Réinitialiser le mot de passe
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

