<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="f-title text-center">
                Créer un nouveau compte
            </h2>
        </div>
        <div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="mb-4 space-y-4 ">
                <div>
                    <label class="f-label required">Nom</label>
                    <input type="text" autocomplete="family-name" required class="f-input" placeholder="Nom"
                        formControlName="nom" />
                    <p class="f-text-error" *ngIf="isInvalid('nom')">
                        {{ getMessageError('nom') }}
                    </p>
                </div>
                <div>
                    <label class="f-label required">Prénom</label>
                    <input type="text" autocomplete="given-name" required class="f-input" placeholder="Prénom"
                        formControlName="prenom" />
                    <p class="f-text-error" *ngIf="isInvalid('prenom')">
                        {{ getMessageError('prenom') }}
                    </p>
                </div>
                <div>
                    <label class="f-label required">Adresse email</label>
                    <input type="email" autocomplete="email" required class="f-input" placeholder="Adresse email"
                        formControlName="email" />
                    <p class="f-text-error" *ngIf="isInvalid('email')">
                        {{ getMessageError('email') }}
                    </p>
                </div>
                <div>
                    <label class="f-label required">Mot de passe</label>
                    <input type="password" autocomplete="new-password" required class="f-input"
                        placeholder="Mot de passe" formControlName="password" />
                    <p class="f-text-error" *ngIf="isInvalid('password')">
                        {{ getMessageError('password') }}
                    </p>
                </div>
                <div>
                    <label class="f-label required">Confirmation du mot de passe</label>
                    <input type="password" autocomplete="new-password" required class="f-input"
                        placeholder="Confirmation du mot de passe" formControlName="confirmPassword" />
                    <p class="f-text-error" *ngIf="isInvalid('confirmPassword')">
                        {{ getMessageError('confirmPassword') }}
                    </p>
                </div>
                <div class="c-error-message" *ngIf="messageError()">
                    {{ messageError() }}
                </div>
                <div>
                    <button type="submit" class="btn-primary w-full" [disabled]="isRegistering()">
                        {{ isRegistering() ? "Inscription en cours..." : "S'inscrire" }}
                    </button>
                </div>
            </form>
            <div class="text-center text-sm">
                <p class="text-gray-600">
                    Vous avez déjà un compte ?
                    <a routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Se connecter
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>